
$primary-color: #4CAF50;
$secondary-color: #F44336;
$text-color: #333;
$font-family: 'Arial', sans-serif;


body {
    font-family: $font-family;
    color: $text-color;
    background-color: #fff;
}


.custom-button {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
        background-color: $secondary-color;
        cursor: pointer;
    }
}
